<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZeAGq69ruKE7ZMxvYnvuyan0_yPYsDTk</string>
	<key>GCM_SENDER_ID</key>
	<string>78022044845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.proper.properLife</string>
	<key>PROJECT_ID</key>
	<string>proper-life-ebfc7</string>
	<key>STORAGE_BUCKET</key>
	<string>proper-life-ebfc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78022044845:ios:3dd4f8812931c6a4102a24</string>
</dict>
</plist>